description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Makhweb - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="{{ this.theme.author }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ 'assets/css/app.css'|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body>

        <!-- Header -->
        <header id="layout-header">
            {# partial 'site/header' #}
        </header>

        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>


        {% framework extras %}
        {% scripts %}

    </body>
</html>
