description = "Allowed to only the guest users"
==
<?php
function onStart()
{
    if(Auth::check()){
        return Redirect::to('/400');
    }
    $this['data'] = [
        'user' => Auth::user()
    ];
}
?>
==
<!DOCTYPE html>
<html>
    <head>
      <!-- Metas -->
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <!-- Icons && Styles -->
      <link href="{{ 'assets/css/app.css' | theme }}" rel="stylesheet">
      {% styles %}
      <!-- Scripts -->
      <script src="{{ 'assets/js/alpine/app.js' | theme }}" defer></script>
      <title>Makhweb - {{ this.page.title }}</title>
    </head>
    <body x-data="{{ data ? (data | json_encode) :  "{}" }}">

        <!-- Header -->
        <header id="layout-header">
            {% partial 'nav' %}
        </header>

        <!-- Content -->
        <section class="container mx-auto" id="layout-content">
            {% page %}
        </section>


        {% scripts %}

    </body>
</html>