title = "Post"
url = "/post/:id/:slug"
layout = "default"
description = "Post page"
is_hidden = 0
==
<?php
use RainLab\Blog\Models\Post;

function onStart()
{
    $this['post'] = Post::findOrFail( $this->param('id') );
}

function onEnd()
{
    //$this->addJs([
    //    'assets/js/hljs/vendor.js',
    //    'assets/js/hljs/app.js'
    //]);
    
    $this->addJs('assets/js/hljs/vendor.js');
    $this->addJs('assets/js/hljs/app.js');
    
    $this->addCss(
        'assets/css/hljs/monokai-sublime.css'
    );
    
    $this->page->title = $this->post->title;
}
?>
==
<div id="content" class="mt-6">
  <div>
    <a href="#" class="text-3xl font-semibold">
      {{ post.title }}
    </a>
    <div class="text-sm text-blue-500 mt-1">
      {% for category in post.categories %}
      <a class="pr-1 hover:underline" href="#">{{ category.name }}{% if not loop.last %},{% endif %}</a>
      {% endfor %}
    </div>
  </div>
  <div class="mt-8">
    {{ post.content_html | raw }}
  </div>
</div>