title = "Post"
url = "/post/:id/:slug"
layout = "default"
description = "Post page"
is_hidden = 0
==
<?php
use RainLab\Blog\Models\Post;
use Makhweb\Lights\Models\Comment;

function onStart()
{
    if(request()->isMethod('post')){
        request()->validate([
            'content' => 'required|max:255'
        ]);
        Comment::create([
            'content' => request()->content,
            'post_id' => $this->param('id'),
            'user_id' => Auth::id(),
            'replied_to' => request()->replied_to
        ]);
        
        return redirect()->back();
    }
    
    $this['post'] = Post::findOrFail( $this->param('id') )->load('comments');
}

function onEnd()
{
    //$this->addJs([
    //    'assets/js/hljs/vendor.js',
    //    'assets/js/hljs/app.js'
    //]);
    
    $this->addJs('assets/js/hljs/vendor.js');
    $this->addJs('assets/js/hljs/app.js');
    
    $this->addCss(
        'assets/css/hljs/monokai-sublime.css'
    );
    
    $this->page->title = $this->post->title;
}
?>
==
<div id="content" class="mt-6">
  <div>
    <a href="#" class="text-3xl font-semibold">
      {{ post.title }}
    </a>
    <div class="text-sm text-blue-500 mt-1">
      {% for category in post.categories %}
      <a class="pr-1 hover:underline"
        href="{{ 'category' | page({ id: category.id, slug: category.slug }) }}">{{ category.name }}{% if not loop.last %},{% endif %}</a>
      {% endfor %}
    </div>
  </div>
  <div class="mt-8">
    {{ post.content_html | raw }}
  </div>

  <div id="comments" class="py-8" x-data="{ replied_to: null, name: null }"
    @updated="replied_to = $event.detail.replied_to; name = $event.detail.name">
    <p class="text-2xl font-semibold py-3">Comments:</p>
    {% if user %}
    <form method="POST" class="mb-3">
      <textarea name="content"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="username" type="text" :placeholder="replied_to ? 'Reply to ' + name : 'Enter your comment'" rows="3"
        required></textarea>
      <div x-show="replied_to" @click="$dispatch('updated', { replied_to: null, name: null })"
        class="my-1 hover:underline text-blue-600 cursor-pointer">Cancel response</div>
      <input type="hidden" name="replied_to" :value="replied_to" />
      <input type="submit" :value="replied_to ? 'Reply' : 'Send'"
        class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded mt-4">
    </form>
    {% endif %}
    <hr>
    <div class="py-6">
      {% for postComment in post.comments %}
      {% partial 'comment' comment=postComment auth=user %}
      {% endfor %}
    </div>
  </div>

</div>